
.gamesview {
    display: flex;
    flex-wrap: wrap;
}

.gameinfo {
    background-color: #61dafb;
    margin: 15px;
    border-radius: 15px;
}

.gameinfo.text {
    margin: 10px;
}

.playingfield {
    display: flex;
    flex-direction: row;
    border: 5px indigo solid;
}

.container {
    display: flex;
    flex-direction: column-reverse;

    min-width: 30px;
    border: #282c34 solid;
}

.containercolor {
    margin: 5px;
    background-color: bisque;
}

.chicken {
    width: 100%;
}